/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px;
  font-family: Patua One, cursive;
}

.App {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  background-color: green;
  height: 780px;
  opacity: 0.85;
}
