.dropdown {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 200px;
  max-height: 3.2em;
  border-radius: 10px;
  border: 1px solid #fff;
  transition: max-height 400ms ease-in-out;
}

.dropdown.open {
  max-height: 10em;
}

.dropdown.open .drop-head {
  border-bottom: 1px solid #fff;
}

.drop-head {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 0px solid #fff;
  transition-delay: 0ms;
}

.drop-head.delay {
  transition-delay: 300ms;
}

.drop-head Link {
  flex-basis: 100%;
}

.drop-head, .content {
  padding: 0em 1em;
}

.dropdown .arrow-wrap .arrow {
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-left: 0.6em solid #fff;
  curser: pointer;
  transition: transform 200ms ease-in-out;
}

.dropdown.open .arrow-wrap .arrow {
  transform: rotate(90deg);
}

.dropdown .content {
  flex-basis: 100%;
  height: 0em;
  max-height: 0em;
  overflow: hidden;
  transition: max-height 400ms ease-in-out, height 400ms ease-in-out;
}

.dropdown.open .content {
  height: 15em;
  max-height: 15em;
}

.container-fluid {
  display: flex;
  justify-content: space-around;
  align-items: space-between;
  max-width: 600px;
}

.navbar-header {
  max-width: 600px;
}

.palabras-dropdown {
}

.palabras-dropdown:hover .palabras-content {
  visibility: visible;
}

#palabras-dropdown1 {
}

#palabras-content2 {
  visibility: hidden;
}

#palabras-dropdown1:hover #palabras-content2 {
  visibility: visible;
}

#palabras-dropdown3 {
}

#palabras-content4 {
  visibility: hidden;
}

#palabras-dropdown3:hover #palabras-content4 {
  visibility: visible;
}
