a:hover {
  opacity: 1;
}

.navbar {
  display: flex;
  align-self: flex-start;
  padding: 35px 50px 0;
  flex: 0 0 100%;
}

li {
  list-style: none;
  text-decoration: none;
  padding-left: 30px;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  flex: 0 0 100%;
}

.nav {
  display: flex;
  align-self: flex-end;
}
.navbar-header {
  align-self: flex-start;
}
